ShallowWaterSolvers/incompressible/driver/Release/
ShallowWaterSolvers/incompressible/rossbywave/Debug/
ShallowWaterSolvers/incompressible/driver/Debug/
ShallowWaterSolvers/incompressible/driver/driver.opensdf
ShallowWaterSolvers/incompressible/driver/driver.sdf
ShallowWaterSolvers/incompressible/driver/.vs/
ShallowWaterSolvers/incompressible/rossbywave/.vs/
ShallowWaterSolvers/incompressible/rossbywave/rossbywave.sdf
ShallowWaterSolvers/incompressible/rossbywave/rossbywave.opensdf
ShallowWaterSolvers/compressible/driver/driver.opensdf
ShallowWaterSolvers/compressible/driver/driver.sdf
ShallowWaterSolvers/compressible/driver/Debug/
ShallowWaterSolvers/compressible/driver/Release/
ShallowWaterSolvers/compressible/driver/.vs/
ShallowWaterSolvers/compressible/rossbywave/Debug/
ShallowWaterSolvers/compressible/rossbywave/Release/
ShallowWaterSolvers/compressible/rossbywave/rossbywave.opensdf
ShallowWaterSolvers/compressible/rossbywave/rossbywave.sdf
ShallowWaterSolvers/compressible/rossbywave/.vs/
ShallowWaterSolvers/incompressible/rossbywave/Release/
